* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

.common_btn {
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #1d4ed8;
  color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  margin: 0px 20px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #575757;
  font-size: 15px;
  font-family: arimo;
}
